<div class="container">
    <p-table #dt [value]="catalog" dataKey="id" styleClass="ui-table-customers" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['id','firstName','lastName']">
        <ng-template pTemplate="caption">
            Catalog of Users
            <div class="ui-table-globalfilter-container">
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Global Search"/>
            </div>
            <button pButton type="button" class="ui-button-success" icon="pi pi-user-plus" (click)="openDialog()"></button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">id<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="firstName">First Name<p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">Last Name<p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'startsWith')"
                        placeholder="Search by Id">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'firstName', 'contains')"
                        placeholder="Search by First Name">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'lastName', 'contains')"
                        placeholder="Search by Last Name">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="ui-selectable-row">
                <td class="ui-column-title">{{item.id}}</td>
                <td class="ui-column-title">{{item.firstName}}</td>
                <td class="ui-column-title">{{item.lastName}}</td>
                <td class="p-grid p-justify-between" style="margin: 0">
                    <button [disabled]="!!item.status" label="{{!!item.status ? 'In the list' : 'Add to list'}}" pButton (click)="addToList(item)"
                            type="button" icon="pi pi-plus" iconPos="left" class="ui-button-success"></button>
                    <button pButton type="button"  label="Delete" icon="pi pi-times" iconPos="left" class="ui-button-danger"
                            (click)="delete(item)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align: right">
                <button pButton type="button"  label="Go to members list" icon="pi pi-arrow-right" iconPos="right" class="ui-button-success"
                    (click)="goToList()"></button>
            </div>
        </ng-template>
    </p-table>
    <app-catalog-add (loadCatalog)="loadCatalog()"></app-catalog-add>
</div>